/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,900&display=swap");
/* 
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  color: black;
} */

.form1 {
  height: 335px;
}

a {
  text-decoration: none;
  color: black;
}
/* 
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.container1 {
  height: 410px;
  width: 500px;
  border-radius: 15px;
  border: 2px solid black;
  transition: 0.4s ease;
}

.container1:hover {
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container1 h1 {
  position: relative;
  top: 15px;
  font-size: 2rem;
  text-align: center;
}

.container1 .input-box {
  position: relative;
  top: 10px;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  position: relative;
  left: 25px;
  width: 90%;
  height: 100%;
  color: black;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: solid black;
  padding: 0 0 0 40px;
  font-size: 16px;
}

.input-box ::placeholder {
  color: black;
}

.input-box i {
  position: absolute;
  left: 30px;
  top: 15px;
}

.container1 .forgot {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 16px;
  position: relative;
}

.forgot label {
  margin: 0 0 0 10px;
}

.forgot label input {
  color: transparent;
  margin: 0 5px 15px 15px;
}

.forgot a {
  color: black;
  margin-right: 30px;
  transition: 0.3s ease;
}

.forgot a:hover {
  text-decoration: underline;
  font-size: 17px;
  margin-right: 26px;
}

.container1 button {
  position: relative;
  top: 15px;
  left: 200px;
  width: 20%;
  height: 35px;
  color: #fff;
  background: black;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}

.container1 .register {
  position: relative;
  top: 35px;
  bottom: 100px;
  text-align: center;
}

.register a {
  color: black;
  font-weight: 700;
  transition: 0.3s ease;
}

.register a:hover {
  text-decoration: underline;
  font-size: 18px;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: transparent;

  padding-top: 60px;
}

.modal-content {
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  width: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#loginBtn {
  top: 10px;
  font-family: noto nastalic urdu;
  padding: 10px 20px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}
#loginBtn:hover {
  background-color: #f8f8f8;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* transform: translateY(-2px);  */
}
#loginBtn:active {
  background-color: #e0e0e0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* transform: translateY(0); */
}
